{% extends 'layout/basic.html' %}

{% block content %}
    {% block main_text %}
    {% endblock main_text %}
    
    <div class="text-light row">
        {% for book in books %}
            <div class="col-md-3">
                <img src="{{ book.image.url }}"
                alt="{{ book }}" height="165">
                <h4><b>{{ book.price }} ₽</b></h4>
                <h5>{{ book }}</h5>
                <h6>{{ book.author }}</h6>
                
                {% if book.series %}
                    <h6>
                        {{ book.publishing_house }}: {{ book.series }}
                    </h6>
                {% else %}
                    <h6>{{ book.publishing_house }}</h6>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
    