{% extends 'layout/basic.html' %}

{% block content %}
    {% block main_text %}
    {% endblock main_text %}
        
    <div class="row offset-md-1">
        {% for book in books %}
            <div class="col-md-3">
                <!-- Image -->
                <a href="{% url 'books:book_detail' book.pk %}">
                    <img src="{{ book.image.url }}"
                    alt="{{ book }}" height="165">
                </a>
                
                <!-- Price -->
                <h4><b>{{ book.price }} ₽</b></h4>

                <!-- Title -->
                <a class='text-dark'
                href="{% url 'books:book_detail' book.pk %}">
                    <h5>{{ book }}</h5>
                </a>

                <!-- Authors -->
                {% for author in book.authors.all %}
                    <a class='text-dark'
                    href="{% url 'books:author' author.pk %}">
                        <h6>{{ author }}</h6>
                    </a>
                {% endfor %}
                                    
                <!-- Publishing house and series -->
                {% if book.series %}
                    <h6>
                        <a class='text-dark' href="{% url 'books:publ_house' book.publishing_house.pk %}">
                            {{ book.publishing_house }}
                        </a>
                        : <a class='text-dark'
                        href="{% url 'books:episode' book.series.pk %}">
                            {{ book.series }}
                        </a>
                    </h6>
                {% else %}
                <a class='text-dark'
                href="{% url 'books:publ_house' book.publishing_house.pk %}">
                    <h6>{{ book.publishing_house }}</h6>
                </a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock content %}
    