{% extends 'layout/default_form.html' %}

{% load static %}

{% block title %}Вход на сайт{% endblock title %}

{% block button %}
    <p>
        <input class='btn btn-primary' type="submit" value="Войти">
    </p>
{% endblock button %}

{% block after_form %}
    <p>
        <a class='text-dark' href="{% url 'password_reset' %}">
            Забыли пароль?
        </a>
    </p>

    <p>
        <a href="{% url 'sign_up' %}">
            <input class='btn btn-success' type="submit" value="Регистрация">
        </a>
    </p>

    <p>
        <a href="{% url 'social:begin' 'vk-oauth2' %}">
            <img src="{% static 'books/img/vk.png' %}" alt="VK" height="50">
        </a>
    </p>
{% endblock after_form %}
    